{% extends 'base.html' %}
{% block main %}

<nav>
   <ul>
     <li><strong>Crypto.Ba Escrow</strong></li>
   </ul>
   <ul>
      <a href="/">Home</a>
   </ul>
</nav>
<h1>Escrow</h1>

      <article>
         <form method="POST" action="/create_user">
            <label for="User Creation">Create your User</label><br>
            <input type="text" name="username" placeholder="Eg: Mike"><br>
            <input type="text" name="password" placeholder="Eg: secret-pass"><br>
            <input type="text" name="email" placeholder="Eg: mike@mke.net"><br>
            <p>
               Escrow
            </p>
            <input type="text" name="tron_address" placeholder="tron address"><br>
            <input type="text" name="bep20_address" placeholder="bep20 address"><br>
            <input type="text" name="telegram" placeholder="telegram username"><br>

            <button type="submit" value="Submit">Register</button>
         </form>
         <a href="/login">Or login</a>
      </article>
{% endblock %}