{% extends 'base.html' %}

{% block main %}

   <body>
      <nav>
         <ul>
           <li><strong>Crypto.Ba Escrow</strong></li>
         </ul>
         <ul>
            <a href="/">Home</a>
         </ul>
      </nav>
      <h1>Escrow</h1>

      <article>
         <form method="POST">
            <label for="User login">Login</label><br>
            <input type="text" name="username" placeholder="Eg: Mike"><br>
            <input type="text" name="password" placeholder="Eg: secret-pass"><br>
            <button type="submit" value="Submit">Login</button>
         </form>
         <a href="/create_user">Or register</a>
      </article>

{% endblock %}